<section id="bio">
  <div class="container centered">
      <div class="col-lg-12">
      </div>


<% if params[:id].to_i == current_user.id %>
  <%= form_for(@post) do |f| %>

    <div class="field">
      <%= f.label :title %>
      <br>
      <%= f.hidden_field :title, html: { id: "title" } %>
    </div>

    <div class="editable" data-field-id="title">
      <%= @post.title.html_safe %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <br>
      <%= f.hidden_field :body, html: { id: "body" } %>
    </div>

    <div class="editable" data-field-id="body">
      <%= @post.body.html_safe %>
    </div>
    <div>
      <%= f.file_field :image %>
    </div>
    <%= f.submit "Update" %>
  <% end %>

  <%= form_for current_user, url: upload_avatar_user_path(current_user), method: :patch, html: { multipart: true } do |f| %>
    <div>
      <%= f.label :Avatar%>
      <%= f.file_field :avatar %>
      <%= f.submit "Update_image" %>
    </div>
  <% end %>
<% else %>
<!-- display normally -->

  <span><%= @post.title.html_safe %></span>
  <span><%= @post.body.html_safe %></span>
  <span>By user: <%= @user.username %></span>

  <span><%= image_tag(@user.avatar.url) if @user.avatar? %></span>
  <span><%= image_tag(@user.avatar.url) if @user.avatar? %></span>
<% end %>


  </div>
</section>

  <script>
  var editor = new MediumEditor('.editable');
  $('.editable').bind('input propertychange', function(text){
    $("#post_" + $(this).attr("data-field-id")).val($(this).html());
  });
</script>
