<section id="bio">
  <div class="container centered">
      <div class="col-lg-12">
      </div>

<% if @user.id == @logged_in_id %>
  <%= form_for(@post), :html => {multipart => true} do |f| %>

    <div class="field">
      <%= f.label :title %>
      <br>
      <%= f.hidden_field :title, html: { id: "title" } %>
    </div>

    <div class="editable" data-field-id="title">
      <%= @post.title.html_safe %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <br>
      <%= f.hidden_field :body, html: { id: "body" } %>
    </div>

    <div class="editable" data-field-id="body">
      <%= @post.body.html_safe %>
    </div>
    <div>
      <%= f.file_field :image %>
    </div>
    <%= f.submit "Update" %>
  <% end %>
<% else %>
<!-- display normally -->

  <span><%= @post.title.html_safe %></span>
  <span><%= @post.body.html_safe %></span>
  <span>By user: <%= @user.username %></span>


<% end %>

  </div>
</section>

  <script>
  var editor = new MediumEditor('.editable');
  $('.editable').bind('input propertychange', function(text){
    $("#post_" + $(this).attr("data-field-id")).val($(this).html());
  });
</script>
