<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  

   <p> Username:</br> <%= f.text_field :username%> </p>
    <!-- <p> Email:</br> <%= f.text_field :email%> </p> -->
    <p> Old Password:</br> <%= f.password_field :old_password%></p>
    <p> New Password:</br> <%= f.password_field :password%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>