<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="#intro"><%= image_tag "logo_white.png" %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
        <li><%= link_to "Program", root_path(anchor: "features"), class: "scroll" %></li>
        <li><%= link_to "Students", root_path(anchor: "students"), class: "scroll" %></li>
        <li><%= link_to "Contact", root_path(anchor: "contact"), class: "scroll" %></li>                
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <script>
      var a = $(".navbar").offset().top;

      $(document).scroll(function(){
          if($(this).scrollTop() > a)
          {   
             $('.navbar').css({"background":"rgba(181, 23, 11, 1)"});
             $('.navbar-brand img').css({"max-height":"2rem"});
             $('.navbar-brand img').css({"transform":"translateY(-15%)"});
             $('.navbar-default .navbar-nav>li>a').css({"font-size":"0.7rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-top":"0.7rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-bottom":"0.3rem"});
             $('.navbar .navbar-collapse').css({"margin-top":"0.1rem"}); 
             $('.navbar .navbar-collapse').css({"margin-bottom":"0.1rem"}); 
          } else {
             $('.navbar').css({"background":"transparent"});
             $('.navbar-brand img').css({"max-height":"3rem"});
             $('.navbar-brand img').css({"transform":"translateY(10%)"});
             $('.navbar-default .navbar-nav>li>a').css({"font-size":"0.9rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-top":"0.7rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-bottom":"0.7rem"});
             $('.navbar .navbar-collapse').css({"margin-top":"1rem"}); 
             $('.navbar .navbar-collapse').css({"margin-bottom":"1rem"}); 
          }
      });
    </script>
</nav>

<section id="intro" class="centered bg-blue top">
  <div class="container top">
    <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "backgrounds/education.jpg", class: "img-responsive center-block background" %>
            <div class="carousel-caption">
              <h1>Lifelong learning comes<BR>from living life.</h1>
            </div>
          </div>

          <div class="item">
            <%= image_tag "backgrounds/carmen.jpg", class: "img-responsive center-block background" %>
            <div class="carousel-caption">
              <h1 class="education">Education as unique as you.</h1>
            </div>
          </div>

          <div class="item">
            <%= image_tag "backgrounds/become.jpg", class: "img-responsive center-block background" %>
            <div class="carousel-caption">
              <h1 class="become">Become who you were<BR>meant to be.</h1>

            </div>
          </div>

        <!-- Left and right controls -->
        <a class="left no-border carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <img class="arrow" src="/assets/arrow_left.png" alt="Arrow">
        </a>

        <a class="right no-border carousel-control" href="#myCarousel" role="button" data-slide="next">
          <img class="arrow" src="/assets/arrow_right.png" alt="Arrow">
        </a>
      </div>

    </div>
  </div> <!-- /container -->
</section> <!-- /intro -->

<section id="about">
  <div class="container">
    <div class="col-lg-4 logo">  
      <div>
        <p id="vision">Vision</p>
      </div>  
      <div>
        <h1 id="create">Create yourself</h1>
      </div>  
    </div>
    <div class="col-lg-8">
      <div>
          <p class="body">The MPC is an exclusive, 3-year fellowship program where creative leaders of all ages can design their own degree.</p>
          <p class="body">Life is the best education. MPC fosters creativity and critical thinking in an open and interdisciplinary environment. There is no division between work and school, student and faculty.</p>
          <p class="body">After a one-year Bootcamp, students become funded MPC Fellows that organize their own curriculum, time, goals, and work with mentors independently or in collaboration.</p>
          <p class="body">Based at Guatemala’s top university, Universidad Francisco Marroquín, the MPC awards an accredited Bachelor of Arts with a focus that you define.</p>
      </div>    
    </div>    
  </div> <!-- /container -->
</section> <!-- /about -->

<section id="features">
  <div class="container">
    <div class="col-lg-5 col-lg-push-7 col-md-5 col-md-push-7 logo">  
      <div>
        <p id="vision">Program</p>
      </div>  
      <div>
        <h1 id="create">Bootcamp</h1>
        <h3>Discover</h3>
      </div>  
      <div>
        <p>Work independently and collaborate in a modern Liberal Arts Bootcamp. Master public speaking and writing in english. Learn how to learn.</p>
      </div>  
    </div>
    <div class="col-lg-7 col-lg-pull-5 col-md-7 col-md-pull-5 photo">
      <div>
        <%= image_tag "backgrounds/bootcamp.jpg", class: "img-responsive center-block background" %>
      </div>
    </div>  
  </div> <!-- /container -->
</section> <!-- /features -->

<section id="features">
  <div class="container">
    <div class="col-lg-5 col-md-5 logo">  
      <div>
        <p id="vision">Program</p>
      </div>  
      <div>
        <h1 id="create">Fellowship</h1>
        <h3>Accelerate</h3>
      </div>  
      <div>
        <p>Start designing your own degree as a funded MPC Fellow. No schedules, only commitments. Be an intern abroad or at home.</p>
      </div>  
    </div>
    <div class="col-lg-7 col-md-7 photo">
      <div>
        <%= image_tag "backgrounds/fellowship.jpg", class: "img-responsive center-block background" %>
      </div>
    </div>  
  </div> <!-- /container -->
</section> <!-- /features -->

<section id="features">
  <div class="container">
    <div class="col-lg-5 col-lg-push-7 col-md-5 col-md-push-7 logo">  
     <div>
        <p id="vision">Program</p>
      </div>  
      <div>
        <h1 id="create">Leadership</h1>
        <h3>Launch</h3>
      </div>  
      <div>
        <p>Start businesses, make art and do work that matters. Enjoy special trips, seminars, opportunities and privileges. Build the habits and mindset you need to become your best self.</p>
      </div>  
    </div>
    <div class="col-lg-7 col-lg-pull-5 col-md-7 col-md-pull-5 photo">
      <div>
        <%= image_tag "backgrounds/leadership.jpg", class: "img-responsive center-block background" %> 
      </div>
    </div>  
  </div> <!-- /container -->
</section> <!-- /features -->

<section id="students">
  <div class="container" id="centered">
    <div class="col-lg-4 col-md-12 logo">  
      <div>
        <p id="vision">Students</p>
      </div>  
      <div>
        <h1 id="create">The Team</h1>
      </div>   
    </div>
    <div class="col-lg-8 col-md-12">
      
      <div class="row">

      <% @users.each do |user| %>
        <div class="col-md-4 col-sm-4- col-xs-12 portrait">
          <div class="d">
            <%= image_tag team_image_path(user), class: "img-responsive center-black teammate" %>
            <%= link_to user_path(user) do %>
              <button type="button" class="button button-secondary">
                <h4 id="log">View Work</h4>
              </button>
            <% end %>
         </div>
       </div>
      <% end %>

      <script>
        $('.d').contenthover({
            overlay_background:'#142e9e',
            overlay_opacity: 1,
        }); 
      </script>
      </div>

    </div> <!-- /col -->
  </div> <!-- /container -->
</section> <!-- /students -->

<!-- <section id="contact">
  <div class="container">
    <div class="col-lg-4 col-md-12 logo">  
      <div>
        <p id="vision">Contact</p>
      </div>  
      <div>
        <h1 id="create">Get in touch</h1>
      </div>   
    </div>   
  </div> <!-- /container
</section> -->

<footer>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-5 right">
      <%= image_tag "logo_small.png", class: "img-responsive center-block spiral"%>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
      <p class="copyright">© 2015 Michael Polanyi College</p> 
      <p class="copyright">Universidad Francisco Marroquín</p> 
      <p class="copyright">Guatemala City, Guatemala</p> 
    </div>
    <div class="hidden-xs col-lg-3 col-md-3 col-sm-3 right">
      <button type="button" class="button button-primary">
        <a href="http://localhost:3000/users/sign_in"><h4 id="log">LOG IN</h4></a>
      </button>
    </div>

    <row>
      <div class="visible-xs col-xs-12 centered">
        <button type="button" class="button button-primary">
          <h4 id="log">LOG IN</h4>
        </button>
      </div>
    </row>  

  </div>
</footer>
