<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="#intro"><%= image_tag "logo_white.png" %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
        <li><%= link_to "Program", root_path(anchor: "features"), class: "scroll" %></li>
        <li><%= link_to "Students", root_path(anchor: "students"), class: "scroll" %></li>
        <li><%= link_to "Contact", root_path(anchor: "contact"), class: "scroll" %></li>                
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <script>
      var a = $(".navbar").offset().top;

      $(document).scroll(function(){
          if($(this).scrollTop() > a)
          {   
             $('.navbar').css({"background":"rgba(181, 23, 11, 1)"});
             $('.navbar-brand img').css({"max-height":"2rem"});
             $('.navbar-brand img').css({"transform":"translateY(-15%)"});
             $('.navbar-default .navbar-nav>li>a').css({"font-size":"0.7rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-top":"0.7rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-bottom":"0.3rem"});
             $('.navbar .navbar-collapse').css({"margin-top":"0.1rem"}); 
             $('.navbar .navbar-collapse').css({"margin-bottom":"0.1rem"}); 
          } else {
             $('.navbar').css({"background":"transparent"});
             $('.navbar-brand img').css({"max-height":"3rem"});
             $('.navbar-brand img').css({"transform":"translateY(10%)"});
             $('.navbar-default .navbar-nav>li>a').css({"font-size":"0.9rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-top":"0.7rem"});
             $('.navbar-default .navbar-nav>li>a').css({"padding-bottom":"0.7rem"});
             $('.navbar .navbar-collapse').css({"margin-top":"1rem"}); 
             $('.navbar .navbar-collapse').css({"margin-bottom":"1rem"}); 
          }
      });
    </script>
</nav>

<section id="intro" class="centered bg-blue top">
  <div class="container top">
    <div class="row">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag "backgrounds/education.jpg", class: "img-responsive center-block background" %>
            <div class="carousel-caption">
              <h1>Lifelong learning comes<BR>from living life.</h1>
            </div>
          </div>

          <div class="item">
            <%= image_tag "backgrounds/carmen.jpg", class: "img-responsive center-block background" %>
            <div class="carousel-caption">
              <h1 class="education">Education as unique as you.</h1>
            </div>
          </div>

          <div class="item">
            <%= image_tag "backgrounds/become.jpg", class: "img-responsive center-block background" %>
            <div class="carousel-caption">
              <h1 class="become">Become who you were<BR>meant to be.</h1>

            </div>
          </div>

        <!-- Left and right controls -->
        <a class="left no-border carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <%= image_tag "left.png", class: "arrow" %>
        </a>

        <a class="right no-border carousel-control" href="#myCarousel" role="button" data-slide="next">
          <%= image_tag "right.png", class: "arrow" %>
        </a>
      </div>

    </div>
  </div> <!-- /container -->
</section> <!-- /intro -->

<section id="about">
  <div class="container">
    <div class="col-lg-4 logo">  
      <div>
        <p id="vision">Vision</p>
      </div>  
      <div>
        <h1 id="create">Create yourself</h1>
      </div>  
    </div>
    <div class="col-lg-8">
      <div>
          <p class="body">The MPC is an exclusive, 3-year fellowship program where creative leaders of all ages can design their own degree.</p>
          <p class="body">Life is the best education. MPC fosters creativity and critical thinking in an open and interdisciplinary environment. There is no division between work and school, student and faculty.</p>
          <p class="body">After a one-year Bootcamp, students become funded MPC Fellows that organize their own curriculum, time, goals, and work with mentors independently or in collaboration.</p>
          <p class="body">Based at Guatemala’s top university, Universidad Francisco Marroquín, the MPC awards an accredited Bachelor of Arts with a focus that you define.</p>
      </div>    
    </div>    
  </div> <!-- /container -->
</section> <!-- /about -->

<section id="features">
  <div class="container">
    <div class="col-lg-5 col-lg-push-7 col-md-5 col-md-push-7 logo">  
      <div>
        <p id="vision">Program</p>
      </div>  
      <div>
        <h1 id="create">Bootcamp</h1>
        <h3>Discover</h3>
      </div>  
      <div>
        <p>Work independently and collaborate in a modern Liberal Arts Bootcamp. Master public speaking and writing in English. Learn how to learn.</p>
      </div>  
    </div>
    <div class="col-lg-7 col-lg-pull-5 col-md-7 col-md-pull-5 photo">
      <div>
        <%= image_tag "backgrounds/bootcamp.jpg", class: "img-responsive center-block background" %>
      </div>
    </div>  
  </div> <!-- /container -->
</section> <!-- /features -->

<section id="features">
  <div class="container">
    <div class="col-lg-5 col-md-5 logo">  
      <div>
        <p id="vision">Program</p>
      </div>  
      <div>
        <h1 id="create">Fellowship</h1>
        <h3>Accelerate</h3>
      </div>  
      <div>
        <p>Start designing your own degree as a funded MPC Fellow. No schedules, only commitments. Work abroad or at home.</p>
      </div>  
    </div>
    <div class="col-lg-7 col-md-7 photo">
      <div>
        <%= image_tag "backgrounds/fellowship.jpg", class: "img-responsive center-block background" %>
      </div>
    </div>  
  </div> <!-- /container -->
</section> <!-- /features -->

<section id="features">
  <div class="container">
    <div class="col-lg-5 col-lg-push-7 col-md-5 col-md-push-7 logo">  
     <div>
        <p id="vision">Program</p>
      </div>  
      <div>
        <h1 id="create">Leadership</h1>
        <h3>Launch</h3>
      </div>  
      <div>
        <p>Start businesses, make art and do work that matters. Enjoy special trips, seminars, opportunities and privileges. Build the habits and mindset you need to become your best self.</p>
      </div>  
    </div>
    <div class="col-lg-7 col-lg-pull-5 col-md-7 col-md-pull-5 photo">
      <div>
        <%= image_tag "backgrounds/leadership.jpg", class: "img-responsive center-block background" %> 
      </div>
    </div>  
  </div> <!-- /container -->
</section> <!-- /features -->

<section id="students">
  <div class="container" id="centered">
    <div class="col-lg-4 col-md-12 logo">  
      <div>
        <p id="vision">Students</p>
      </div>  
      <div>
        <h1 id="create">Second Year</h1>
        <h3>The Revolutionaries</h3>
      </div>   
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <!--<div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/andres.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Andrés Descamps</h4>
              <p class="rol">Creative Writing</p>
          </div>
        </div>-->

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/melanie.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Melanie Falconer</h4>
              <p class="rol">Project Management</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/16/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/16/portfolio"><h4 id="log">Edit</h4></a>-->
              </button>  
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/ignacio.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Ignacio Galindo</h4>
              <p class="rol">Web Design</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/6/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/6/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/anja.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Anja Godo</h4>
              <p class="rol">Social Entrepreneurship</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/1/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/1/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div>
      </div>

      <div class="row"> 
        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/hana.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Hana Ko</h4>
              <p class="rol">Visual Media</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/5/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/5/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/rafael.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Rafael Parra</h4>
              <p class="rol">Music & Animation</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/18/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/18/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/mar.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Mar Samayoa</h4>
              <p class="rol">Peace Studies</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/15/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/15/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/mafer.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Mafer Soto</h4>
              <p class="rol">Performing Arts Management</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/12/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/12/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <script>
          $('.d').contenthover({
              overlay_background:'#142e9e',
              overlay_opacity: 1,
          }); 
        </script>
      </div>

    </div> <!-- /col -->
  </div> <!-- /container -->
</section> <!-- /students -->

<section id="students">
  <div class="container" id="centered">
    <div class="col-lg-4 col-lg-push-8 col-md-12 logo">  
      <div>
        <p id="vision">Students</p>
      </div>  
      <div>
        <h1 id="create">Third Year</h1>
        <h3>The Pioneers</h3>
      </div>   
    </div>  
    <div class="col-lg-8 col-lg-pull-4 col-md-12">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/grace.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Grace Becker</h4>
              <p class="rol">Performing Arts</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/4/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/4/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div>  

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/majo.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Majo Crespo</h4>
              <p class="rol">Design & Entrepreneurship</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/14/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/14/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/kata.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Katarina Hall</h4>
              <p class="rol">Economic & Social History</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/10/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/10/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div>
      </div>   

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/isa.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Isa Moino</h4>
              <p class="rol">Communication<BR>& Education</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/7/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/7/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/lorena.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Lorena Palmieri</h4>
              <p class="rol">Social Entrepreneurship</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/11/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/11/portfolio"><h4 id="log o">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/javier.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Javier Parellada</h4>
              <p class="rol">Film & Education</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/8/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/8/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/marce.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Marcela Richardson</h4>
              <p class="rol">Education<BR>& Entrepreneurship</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/13/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/13/portfolio"><h4 id="log o">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/diego.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Diego Rivera</h4>
              <p class="rol">Entrepreneurship</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/3/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/3/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/carmen.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Carmen Rodriguez</h4>
              <p class="rol">Education</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/2/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/2/portfolio"><h4 id="log">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/javiert.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Javier Tabush</h4>
              <p class="rol">Event Planning<BR>& Entrepreneurship</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/9/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/9/portfolio"><h4 id="log o">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <div class="col-md-4 col-sm-4 col-xs-12 portrait">
          <div class="d">
            <div>
              <%= image_tag "team/pablo.jpg", class: "img-responsive center-block teammate"%>
            </div>
          </div>
          <div class="contenthover">
              <h4>Pablo Velasquez</h4>
              <p class="rol">Economics & Entrepreneurship</p>
              <!--<button type="button" class="button button-secondary">
                <a href="http://localhost:3000/users/17/portfolio"><h4 id="log">View work</h4></a>
              <button type="button" class="button button-secondary">
                <a href="/users/17/portfolio"><h4 id="log o">Edit</h4></a>-->
              </button> 
              </button>
          </div>
        </div> 

        <script>
          $('.d').contenthover({
              overlay_background:'#142e9e',
              overlay_opacity: 1,
          }); 
        </script>
      </div>

  </div> <!-- /container -->
</section> <!-- /students -->

<div class="block">
</div>

<section id="contact" class="bg-grey">
  <div class="container">
    <div class="col-lg-4 col-md-12 logo">  
      <div>
        <p id="vision">Contact</p>
      </div>  
      <div>
        <h1 id="create">Get in touch</h1>
      </div>   
    </div>
    <div class="touch">
      <row>
        <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
              <h2>Write to us</h2>
              <a href="mailto:mpc@ufm.edu" class="email"><p>mpc@ufm.edu</p></a>
              <h2>Give us a call</h2>
              <p>(502) 2413-3308</p>
        </div>    
        <div class="col-lg-5 col-md-5 col-sm-7 col-xs-7">
              <h2>Visit us</h2>
              <p class="address">CE-301, Edificio Centro Estudiantil<BR>Universidad Francisco Marroquín<BR>6ta Calle Final, Zona 10<BR>Ciudad de Guatemala</p>    
        </div>
      </row>
      <row>
        <div id="icons" class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
          <%= link_to (image_tag "facebook.png", class: "img-responsive center-block icon"), "https://www.facebook.com/MichaelPolanyiCollege", target: "_blank" %>
          <%= link_to (image_tag "twitter.png", class: "img-responsive center-block icon"), "https://twitter.com/MPCatUFM", target: "_blank" %>
          <%= link_to (image_tag "pinterest.png", class: "img-responsive center-block icon"), "https://www.pinterest.com/mpcatufm/", target: "_blank" %>
        </div>  
      </row>  
    </div>    
  </div>
</section>


<footer>
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-5 right">
      <%= image_tag "logo_small.png", class: "img-responsive center-block spiral"%>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
      <p class="copyright">© 2015 Michael Polanyi College</p> 
      <p class="copyright">Universidad Francisco Marroquín</p>  
      <p class="made">Made by MPC students</p> 
    </div>
    <div class="hidden-xs col-lg-3 col-md-3 col-sm-3 right">
      <button type="button" class="button button-primary">
        <a href="http://localhost:3000/users/sign_in"><h4 id="log">LOG IN</h4></a>
      </button>
    </div>

    <row>
      <div class="visible-xs col-xs-12 centered">
        <button type="button" class="button button-primary">
          <h4 id="log">LOG IN</h4>
        </button>
      </div>
    </row>  

  </div>
</footer>
